<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p><%= title %> is a service for saving links for reading later.  You can save as many links as you want and then read them at a more convenient time later!  <%= title %> also allows for easy sharing of links with your friends!</p>
<p><a href="/login" >Login here</a></p>
<p>Don't have an account? <a href="/create" >Create one!</a></p>