<h1><%= title %></h1>
<p><a href="/" >&lt;&lt; Home</a></p>
<p>Login to <%= title %> to access your saved links here:</p>
<form action="" method="post">
	<p><label for="email">Email: </label><input type="text" name="email" id="email"></p>
	<p><label for="password">Password: </label><input type="password" name="password" id="password"></p>
	<p><input type="submit" name="submit" value="Go!"></p>
</form>

<p>Don't have an account? <a href="/create" >Create one!</a></p>