@charset "UTF-8";

body {
  padding: 50px;
  font: 0.9em "Lucida Grande", Helvetica, Arial, sans-serif;
}

#content {
	
}

a {
  color: #00B7FF;
}

form #url {
	width: 400px;
	height: 20px;
}

#links {
	width: 900px;
}

#links_header {
	margin-top: 10px;
	font-size: 0.9em;
	font-weight: bold;
}

div.link {
	height: 1.2em;
	margin-top:5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px #999999 dotted;
}

.time {
	float: left;
	width: 165px;
	margin-right: 5px;
	border-right: 1px #999999 dotted;
}

.linkr_link {
	overflow-x: hidden;
	text-wrap: none;
}

form .hint {
	font-size: 0.7em;
	color: gray;
}

div#bookmarklets {
	display: none;
}

.notification {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	
	width: 50em;
	
	color: #363636;
	font-weight: bold;
	font-size: 12px;
	
	background: #ffeb80 url(../images/ui-bg_inset-hard_55_ffeb80_1x100.png) 50% bottom repeat-x;
	border: 1px solid #ffde2e;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}


.sortable_handle {
	float: right;
}

