body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#content {
	
}

a {
  color: #00B7FF;
}

form #url {
	width: 400px;
	height: 20px;
}

div#links {
	width: 900px;
}

div#links_header {
	margin-top: 10px;
	font-size: 14px;
	font-weight: bold;
}

div.link {
	margin-top:5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px #999999 dotted;
}

span.time {
	float: left;
	width: 165px;
	margin-right: 5px;
	border-right: 1px #999999 dotted;
}




