body {
  padding: 50px;
  font: 0.9em "Lucida Grande", Helvetica, Arial, sans-serif;
}

#content {
	
}

a {
  color: #00B7FF;
}

form #url {
	width: 400px;
	height: 20px;
}

div#links {
	width: 900px;
}

div#links_header {
	margin-top: 10px;
	font-size: 0.9em;
	font-weight: bold;
}

div.link {
	height: 1.2em;
	margin-top:5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: 1px #999999 dotted;
}

span.time {
	float: left;
	width: 165px;
	margin-right: 5px;
	border-right: 1px #999999 dotted;
}

span.linkr_link {
	overflow-x: hidden;
	text-wrap: none;
}

form p.hint {
	font-size: 0.7em;
	color: gray;
}

