<h1><%= title %></h1>
<div id="nav">
	<a href="/home">Home</a> | <a id="add_link" href="/home/add">Add a link</a> | <a id="archive" href="/home/archive">Link Archive</a> | <a id="bookmarklet_show" href="#">Bookmarklets</a> | <a href="/logout">Logout</a>
</div>
<div id="bookmarklets">
	<p>Drag this bookmarklet to your bookmarks to add a page to linkr from anywhere: <a href="javascript:(function(){_add_link=document.createElement('SCRIPT');_add_link.type='text/javascript';_add_link.src='http://localhost:3001/js/add_link.js?';document.getElementsByTagName('head')[0].appendChild(_add_link);
})();">Add to linkr</a></p>
	<p>Drag this bookmarklet to your bookmarks to view your next saved linkr page: <a href="javascript:(function(){_get_link=document.createElement('SCRIPT');_get_link.type='text/javascript';_get_link.src='http://localhost:3001/js/get_link.js?';document.getElementsByTagName('head')[0].appendChild(_get_link);
})();">View next linkr saved link</a></p>
</div>
<div id="links">
	<div id="links_header">
		<span class="time">Time Added</span> <span class="link">Link</span>
	</div>
	<%- partial('link', links) %>
</div>