<h1><%= title %></h1>
<div id="nav">
	<a href="/home">Home</a> | <a href="/home/add">Add a link</a> | <a href="/home/archive">Link Archive</a> | <a href="/logout">Logout</a>
</div>
<div id="links">
	<div class="link_header">
		<span class="time">Time Added</span> <span class="link">Link</span>
	</div>
	<%- partial('link', links) %>
</div>